langgraph>=0.2.6
langchain>=0.3.19
langchain-openai
openai
duckduckgo-search>=5.0
python-dotenv>=1.0.1
langgraph-sdk>=0.1.57
langgraph-cli
langgraph-api
fastapi
chromadb>=0.4.22
langchain-chroma
pypdf>=4.0.0
langchain-community
langchain-huggingface
ipykernel
jupyterlab
transformers
langchain-ollama
langchain-chroma
chromadb